.bg_custom_color_1{
    color:  #0093DD !important;
}

.bg_custom_color_2{
    color:  #E6F8FF !important;
}

.bg_custom_color_3{
    color:  #7B7474 !important;
}

.bg_custom_color_4{
    color:  #4D4D4D !important;
}

.bg_custom_color_5{
    color:  #333333 !important;
}

.bg_custom_color_6{
    color:  #EFF9DA !important;
}

.bg_custom_color_7{
    color:  #CDF6EF !important;
}


.bg_custom_color_8{
    color:  #F9D8D6 !important;
}




.bg_custom_color_9{
    color:  #F9EBDF !important;
}




.bg_custom_color_10{
    color:  #CDF6EF !important;
}




.bg_custom_color_11{
    color:  #CBE4F9 !important;
}




.bg_custom_color_12{
    color:  #EDCBF9 !important;
}




.bg_custom_color_13{
    color:  #8FBF2A !important;
}




.bg_custom_color_14{
    color:  #34B9A3 !important;
}




.bg_custom_color_15{
    color:  #E23F35 !important;
}


.bg_custom_color_16{
    color:  #DD8941 !important;
}

.bg_custom_color_17{
    color:  #3C90D8 !important;
}

.bg_custom_color_18{
    color:  #933AB3 !important;
}

.bg_custom_color_19{
    color:  #E23F35 !important;
}



.bg_custom_color_21{
    color:  #2E3192 !important;
}

.bg_custom_color_22{
    color:  #662D91 !important;
}

.bg_custom_color_23{
    color:  #F15A24 !important;
}


.bg_custom_color_24{
    color:  #29ABE2 !important;
}
