

  body{
    background-color: #E6F8FF !important;
    height: 100vh;  
    font-family: "Noto Sans", sans-serif;
  }
  .body-color{
    background-color: #E6F8FF !important;
  }
  .text-bold {
    font-weight: bold;
  }  