// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Theme Styles
@import "./_metronic/_assets/sass/style.react.scss";

// Default Layout themes
@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
@import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";


//Theme_1
@import "../public/css/custome_theme_1/login-screen.scss";
@import "../public/css/custome_theme_1/table-icon.scss";
@import "../public/css/custome_theme_1/accordion.scss";
@import "../public/css/custome_theme_1/custom_color.scss";
@import "../public/css/custome_theme_1/body.scss";
@import "../public/css/custome_theme_1/font.scss";
@import "../public/css/custome_theme_1/bg_custom_color.scss";
// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";
  
// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
.brand-dark {
  @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
}
// Light
.brand-light {
  @import "./_metronic/_assets/sass/themes/layout/brand/light.scss";
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900



// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem; 
  code { 
      overflow-y: auto;
      display: block;

      span {
        background: none transparent !important;
      }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  border-left: 1px solid #ffffffd3 !important;
  border-right: 1px solid #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
  border-radius: 12px;
  font-family: "Noto Sans", sans-serif;
  color: #333333 ;
  th {
    outline: none;
   background-color:#fafafa;
    &.sortable {  
      .svg-icon-sort {
        opacity: 0;
      }
  
      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }    
  }

  .table.table-head-custom thead tr {
    .sortable-active {
        color: $primary !important;
    } 
    // background-color: #f7f7f7;
    color: #333333 !important; 
    border-radius: 140px;
  }


  .table.table-head-custom thead th {
    color: #333333 !important;  /* Same text color for header cells */
   
  }
}

.cursor-default {
  cursor: default !important;
}

.display-block {
  display: block;
}

.react-bootstrap-table table {
  table-layout: auto;
  border-left: 1px solid #dbdbdb;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 12px;
  
    
}


